.login-form {
    max-width: 500px;
    min-width: 100px;
    margin: auto;
}

.login-input{
    margin: 30px auto;
    display: block;
    width: 200px;
    border-radius: 4px;
    padding: 8px;
    border-style: 1px solid black;
}

.login-button {
    display: block;
    margin: auto;
    width: 100px;
    height: 40px;
    background-color: red;
    border-radius: 4px;
    border: none;
}